# Virtual environments and IDE
.venv/
.idea/
.vscode/

# Python cache / build files
__pycache__/
*.py[cod]
*.egg-info/
*.pkl
*.log

# Outputs / results
myresults/
old/
Mononito/
output/
Outputs/
docs/
archive/
results_smd/
results_ucr/
results_skab/
results_skab-old/
important-new-graphs/
dataset_lists/
Plots/
testbed_results/
testbed_results_test/
testbed_results_collected/
Misc/

# OS / Jupyter junk
.DS_Store
.ipynb_checkpoints/
RAMS-TSAD-Up-to-date.zip